* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/20287026.jpg");
    background-size: cover;
}
.grid {
    display: grid;
    height: 650px;
    min-width: 400px;
    grid-template: 7% 42% 50% / repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-template-areas: "nav nav nav nav"
                         "scrn scrn scrn scrn"
                         "feed clean treat need";
    grid-gap: 15px;
    margin: 10px;
    
}

nav {
    grid-area: nav;
}

nav a{
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    color: seashell;
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding: 2px 10px;
    box-sizing: border-box;
}

.screen {
    grid-area: scrn;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;;
}

.feed {
    grid-area: feed;
    text-align: center;
    overflow: scroll;
}

.clean {
    grid-area: clean;
    text-align: center;
    overflow: scroll;
}

.treat {
    grid-area: treat;
    text-align: center;
    overflow: scroll;
}

.need {
    grid-area: need;
    text-align: center; 
    overflow: scroll;
}

.requirement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass {
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
}

.screen img {
    max-width: 20%;
    height: auto;
}

.btn {
    box-sizing: border-box;
    background-color: rgb(26, 202, 93);
    width: 100%;
    margin-top: 5px;
    font-size: large;
}

form {
    grid-area: 3 / 2 / span 1 / span 2;
    z-index: 10;
}

label {
    color: blanchedalmond;
    font-size: 1.5rem;
}

input[type=text]
{
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 42%;
    top: 80%;
    border-radius: 50%;
}

.container{
    grid-area: 2 / 1 / span 2 / span 4;
    display: grid;
    grid-template-rows: 170px;
    grid-auto-rows: 170px;
}

.posts {
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 6px;
    color: blanchedalmond;
    display: inline-block;
    margin-bottom: 15px;
}

.propic {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: blanchedalmond 2px solid;
}

.posts h3 {
    position: relative;
    top: -40px;
    left: 80px;
}

.posts p {
    position: relative;
    top: -40px;
    left: 80px; 
}

.buttons {
    display: inline-block;
    position: relative;
    left: 80px;
    padding-bottom: 8px;
}

.postbtns {
    height: 30px;
    width: 80px;
    background-color: rgb(0, 150, 57);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: rgba(72, 88, 236, 0) solid 1px;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
}


.postbtns h3 {
    position:inherit;
    width: 100%;
    height: 50%;
    margin: auto 0;
    color: blanchedalmond;
    /*border: red solid 2px;*/
    
}

.btn :hover {
    background-color: rgb(190, 202, 26);
}

nav a:hover{
    background-color: rgba(0, 247, 255, .5);
    color: cornsilk;
}

nav a.active {
    background-color: rgb(0, 11, 58);
    color: blanchedalmond;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(155, 155, 155) rgb(129, 129, 129);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(156, 156, 156);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 1px;
    border: 1px solid rgba(204, 193, 193,0.0);
  }

